.contact{
    min-height:100vh;

    background:#0f172a;

    padding:120px 8%;

    text-align:center;
}

.contact h1{
    color:white;
    margin-bottom:40px;
}

.contact-form{
    max-width:700px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:15px;

    border:none;

    border-radius:12px;
}

.contact-form button{
    background:#D4AF37;

    border:none;

    padding:15px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;
}